<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.bean.UserBean">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="passWord" property="passWord"/>
    </resultMap>

    <select id="getUser" resultMap="BaseResultMap">

        select * from user;
    </select>

    <select id="getUserById" resultMap="BaseResultMap">
        select * from user where id = #{id};
    </select>

    <select id="getUserName" resultMap="BaseResultMap">
        select * from user where userName = #{userName} and passWord = #{passWord};
    </select>

    <delete id="delectUser" >
        DELETE from user where id =#{id};

    </delete>
</mapper>